.kiali-vertical-nav {
  background-color: green;
  top: 100px;
  border: 1px solid pink;
}
.header {
  background-image: none;
  background-color: white;
}
.pf-c-page__header-nav {
  background-color: aqua !important;
}
